---
layout: page
---
<!doctype html>
<html>
  <head>
    <title>My Portfolio</title>
  </head>
  <link rel="stylesheet" href="/assets/css/cards.css">
  <link rel="stylesheet" href="/assets/css/links.css">
  <link rel="stylesheet" href="/assets/css/section-highlight.css">
  <link rel="stylesheet" href="/assets/css/featured_project.css">

  <body>
    <div class="section-title-wrapper">
      <h2 class="section-title">Highlighted Projects</h2>
    </div>
    <section class="featured-projects-grid">
      {% for project in site.data.projects %}
        {% if project.highlighted %}
          <section class="outlined-card-wrapper">
            <article class="outlined-card featured-project card">
              <section class="card-section">
                <div class="featured-media">
                  <img src="{{ project.image }}" alt="{{ project.title }}">
                </div>

                <!-- Text content -->
                <div class="featured-content">
                  <h3>{{ project.title }}</h3>
                  <ul>
                    {% for item in project.points %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                  <a href="{{ project.link }}" class="read-more-btn"> Read more → </a>
                </div>
              </section>
            </article>
          </section>
        {% endif %}
      {% endfor %}
    </section>
  </body>
</html>
